:root{
    --logo-color: #95E1D3;
    --line-color: #F38181;
    --first-color: #333;
    --second-color: #B6B6B6;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 360px;
    margin-top: 17px;
    margin-bottom: 10px;
    margin-right: 360px;
}
.header-list{
    list-style: none;
    text-decoration: none;

}
.line{
    width: 60px;
    height: 4px;
    background: var(--line-color);
    border-radius: 20px;
}
.header-nav{
    color: rgb(142, 201, 54);
    width: 98px;
    height: 33px;
    text-decoration: none; 
}
.about{
    color: red;
}
.Laaqiq{
    color: red;
}
.input{
    color: #b6b6b6;
    padding: 12px 10px;
    width: 230px;
}
.header-title{
    font-family:'Montserrat', sans-serif;
    color: var(--logo-color);
    font-weight: 700;
    font-size: 30px;
}
.text{
    font-weight: 700;
    font-size: 30px;
}
.img{
    width: 380px;
    height: 470px;
}
img{
    width: 37px;
    height: 37px;   
}
.section-one{
    margin-top: 81px;
}
.section-two{
    margin-top: 100px;
}
.team-position{
    color: var(--second-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.class-footer{
    margin-top: 80px;
    border-top: 1px solid var(--second-color);
    padding-bottom: 20px ;
    padding-top: 22px;
}
.footer-text{
    font-size: 14px;
    font-weight: 400;
}
.footer-link{
    color: var(--line-color);
}
.header-item:hover
.header-item:focus{
    color: var(--line-color);
}
.header-item{
    color: var(--logo-color);
}
.photography{
    color: var(--first-color);
}
.title{
    color: var(--first-color);
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
}
.text{
    color: var(--first-color);
    font-size: 30px;
    font-weight: 700;
}
.amazing-text{
    color: var(--second-color);
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.footer{
        background: var(--logo-color);
        border: none;
        padding: 12px 38px;
        color: var(--text-button-color);
        cursor: pointer;
    }

a{ 
    text-decoration: none; 
} 
ol, ul{ 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}